fastapi
uvicorn
google-generativeai
python-dotenv
langchain
langchain-google-genai
langchain-pinecone
pinecone-client
langchain-community
langchain-classic
pydantic
pydantic-settings
requests
psycopg2-binary
